<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
    </tr>
  </thead>
  <tbody>
  {{#each people}}
    {{view App.PersonView personBinding="this"}}
  {{/each}}
  </tbody>
</table>
